@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.footer-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 10px;
  /* padding: 32px 16px 32px 16px; */
}

.footer-row {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.footer-row a {
  color: white;
  padding: 0px 8px 0px 8px;
}

.footer-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer-title {
  color: white;
}

.footer-link {
  color: white;
  margin-right: 8px;
  overflow: hidden;
}

.footer-link:hover {
  color: #fdd835;
}

.footer-copyright {
  color: white;
  font-weight: 700;
  font-size: 10px;
}

.title-name-footer {
  font-size: 1.25rem;
  font-weight: 700 !important;
}
