@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

.features-root {
  display: flex;
  justify-content: center !important;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #242424;
}

.tile-bg {
  background-color: #212121 !important;
}

.testing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-paper {
  padding: 16px;
  color: #fafafa;
  background-color: #424242;
  min-width: 300px;
  max-width: 300px;
  min-height: 140px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #212121 !important;
}

.g-container :hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #212121 !important;
}

.feature-icon {
  color: white;
}

.feature {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.feature-title {
  font-size: 1.1rem !important;
  font-weight: bold;
  color: gold;
  margin: 10px 0;
}

.feature-subheader {
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}

@media (min-width: 600px) {
  .feature-paper {
    width: 45%;
  }
}

.padder {
  padding: 32px 16px 32px 16px;
}
