.nav-top .link-container {
  transition: margin-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}
.nav-top .menu-button {
  transition: margin-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s;
}

.link-container a {
  margin: 0px 4px;
}

.link-container a {
  color: #f5f5f5;
  text-decoration: none;
  padding: 8px;
}

.link-container a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: var(--color-secondary-light);
}

.menu-button:hover {
  color: var(--color-secondary-light);
}
