/* EPIC UI */
/* This is compiled from scss and can be edited 
within the variables document */
/* Variables used: Four Horsemen, Colors, Font Families,
Font Sizes, Letter Spacing, Margins, Padding, 
Borders, Box Shadow, and Gaps */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,200;0,500;0,700;1,200;1,500;1,700&family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Raleway:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Roboto:ital,wght@0,500;0,700;1,500;1,700&display=swap");
/* Fonts from Google */
/* Color Wheel Spectrum */
/* Four Horsemen Color Placeholders */
/* Used for website */
/* spacing */
/* box-shadow */
/* borders */
/* font-size */
/* letter-spacing */
.text-primary {
  color: green !important;
}

.bg-primary {
  background-color: green !important;
}

.bc-primary {
  border-color: green !important;
}

.text-secondary {
  color: blue !important;
}

.bg-secondary {
  background-color: blue !important;
}

.bc-secondary {
  border-color: blue !important;
}

.text-warning {
  color: red !important;
}

.bg-warning {
  background-color: red !important;
}

.bc-warning {
  border-color: red !important;
}

.text-caution {
  color: yellow !important;
}

.bg-caution {
  background-color: yellow !important;
}

.bc-caution {
  border-color: yellow !important;
}

.text-white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

.bc-white {
  border-color: white !important;
}

.text-black {
  color: black !important;
}

.bg-black {
  background-color: black !important;
}

.bc-black {
  border-color: black !important;
}

.text-gray {
  color: gray !important;
}

.bg-gray {
  background-color: gray !important;
}

.bc-gray {
  border-color: gray !important;
}

.p-w-0 {
  padding: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-w-a {
  padding: auto !important;
}

.p-l-a {
  padding-left: auto !important;
}

.p-r-a {
  padding-right: auto !important;
}

.p-b-a {
  padding-bottom: auto !important;
}

.p-t-a {
  padding-top: auto !important;
}

.p-w-1 {
  padding: 0.75rem !important;
}

.p-l-1 {
  padding-left: 0.75rem !important;
}

.p-r-1 {
  padding-right: 0.75rem !important;
}

.p-b-1 {
  padding-bottom: 0.75rem !important;
}

.p-t-1 {
  padding-top: 0.75rem !important;
}

.p-w-2 {
  padding: 1rem !important;
}

.p-l-2 {
  padding-left: 1rem !important;
}

.p-r-2 {
  padding-right: 1rem !important;
}

.p-b-2 {
  padding-bottom: 1rem !important;
}

.p-t-2 {
  padding-top: 1rem !important;
}

.p-w-3 {
  padding: 1.25rem !important;
}

.p-l-3 {
  padding-left: 1.25rem !important;
}

.p-r-3 {
  padding-right: 1.25rem !important;
}

.p-b-3 {
  padding-bottom: 1.25rem !important;
}

.p-t-3 {
  padding-top: 1.25rem !important;
}

.p-w-4 {
  padding: 1.5rem !important;
}

.p-l-4 {
  padding-left: 1.5rem !important;
}

.p-r-4 {
  padding-right: 1.5rem !important;
}

.p-b-4 {
  padding-bottom: 1.5rem !important;
}

.p-t-4 {
  padding-top: 1.5rem !important;
}

.m-w-0 {
  margin: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-w-a {
  margin: auto !important;
}

.m-l-a {
  margin-left: auto !important;
}

.m-r-a {
  margin-right: auto !important;
}

.m-b-a {
  margin-bottom: auto !important;
}

.m-t-a {
  margin-top: auto !important;
}

.m-w-1 {
  margin: 0.75rem !important;
}

.m-l-1 {
  margin-left: 0.75rem !important;
}

.m-r-1 {
  margin-right: 0.75rem !important;
}

.m-b-1 {
  margin-bottom: 0.75rem !important;
}

.m-t-1 {
  margin-top: 0.75rem !important;
}

.m-w-2 {
  margin: 1rem !important;
}

.m-l-2 {
  margin-left: 1rem !important;
}

.m-r-2 {
  margin-right: 1rem !important;
}

.m-b-2 {
  margin-bottom: 1rem !important;
}

.m-t-2 {
  margin-top: 1rem !important;
}

.m-w-3 {
  margin: 1.25rem !important;
}

.m-l-3 {
  margin-left: 1.25rem !important;
}

.m-r-3 {
  margin-right: 1.25rem !important;
}

.m-b-3 {
  margin-bottom: 1.25rem !important;
}

.m-t-3 {
  margin-top: 1.25rem !important;
}

.m-w-4 {
  margin: 1.5rem !important;
}

.m-l-4 {
  margin-left: 1.5rem !important;
}

.m-r-4 {
  margin-right: 1.5rem !important;
}

.m-b-4 {
  margin-bottom: 1.5rem !important;
}

.m-t-4 {
  margin-top: 1.5rem !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: 20px;
  margin-right: 20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.j-fs {
  justify-content: "flex-start";
}

.j-fe {
  justify-content: "flex-end";
}

.j-c {
  justify-content: "center";
}

.j-sb {
  justify-content: "space-between";
}

.j-sa {
  justify-content: "space-around";
}

.j-se {
  justify-content: "space-evenly";
}

.a-fs {
  align-items: "flex-start";
}

.a-fe {
  align-items: "flex-end";
}

.a-c {
  align-items: "center";
}

.a-sb {
  align-items: "space-between";
}

.a-sa {
  align-items: "space-around";
}

.a-se {
  align-items: "space-evenly";
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.br-w-0 {
  border-radius: 0px !important;
}

.br-tl-0 {
  border-top-left-radius: 0px !important;
}

.br-bl-0 {
  border-bottom-left-radius: 0px !important;
}

.br-br-0 {
  border-bottom-right-radius: 0px !important;
}

.br-tr-0 {
  border-top-right-radius: 0px !important;
}

.br-w-1 {
  border-radius: 5px !important;
}

.br-tl-1 {
  border-top-left-radius: 5px !important;
}

.br-bl-1 {
  border-bottom-left-radius: 5px !important;
}

.br-br-1 {
  border-bottom-right-radius: 5px !important;
}

.br-tr-1 {
  border-top-right-radius: 5px !important;
}

.br-w-2 {
  border-radius: 10px !important;
}

.br-tl-2 {
  border-top-left-radius: 10px !important;
}

.br-bl-2 {
  border-bottom-left-radius: 10px !important;
}

.br-br-2 {
  border-bottom-right-radius: 10px !important;
}

.br-tr-2 {
  border-top-right-radius: 10px !important;
}

.br-w-3 {
  border-radius: 15px !important;
}

.br-tl-3 {
  border-top-left-radius: 15px !important;
}

.br-bl-3 {
  border-bottom-left-radius: 15px !important;
}

.br-br-3 {
  border-bottom-right-radius: 15px !important;
}

.br-tr-3 {
  border-top-right-radius: 15px !important;
}

.br-w-4 {
  border-radius: 20px !important;
}

.br-tl-4 {
  border-top-left-radius: 20px !important;
}

.br-bl-4 {
  border-bottom-left-radius: 20px !important;
}

.br-br-4 {
  border-bottom-right-radius: 20px !important;
}

.br-tr-4 {
  border-top-right-radius: 20px !important;
}

.b-0-primary {
  border: 0px solid green !important;
}

.b-0-secondary {
  border: 0px solid blue !important;
}

.b-0-warning {
  border: 0px solid red !important;
}

.b-0-caution {
  border: 0px solid yellow !important;
}

.b-0-white {
  border: 0px solid white !important;
}

.b-0-black {
  border: 0px solid black !important;
}

.b-0-gray {
  border: 0px solid gray !important;
}

.b-1-primary {
  border: 1px solid green !important;
}

.b-1-secondary {
  border: 1px solid blue !important;
}

.b-1-warning {
  border: 1px solid red !important;
}

.b-1-caution {
  border: 1px solid yellow !important;
}

.b-1-white {
  border: 1px solid white !important;
}

.b-1-black {
  border: 1px solid black !important;
}

.b-1-gray {
  border: 1px solid gray !important;
}

.b-2-primary {
  border: 2.25px solid green !important;
}

.b-2-secondary {
  border: 2.25px solid blue !important;
}

.b-2-warning {
  border: 2.25px solid red !important;
}

.b-2-caution {
  border: 2.25px solid yellow !important;
}

.b-2-white {
  border: 2.25px solid white !important;
}

.b-2-black {
  border: 2.25px solid black !important;
}

.b-2-gray {
  border: 2.25px solid gray !important;
}

.b-3-primary {
  border: 3.5px solid green !important;
}

.b-3-secondary {
  border: 3.5px solid blue !important;
}

.b-3-warning {
  border: 3.5px solid red !important;
}

.b-3-caution {
  border: 3.5px solid yellow !important;
}

.b-3-white {
  border: 3.5px solid white !important;
}

.b-3-black {
  border: 3.5px solid black !important;
}

.b-3-gray {
  border: 3.5px solid gray !important;
}

.b-4-primary {
  border: 4.75px solid green !important;
}

.b-4-secondary {
  border: 4.75px solid blue !important;
}

.b-4-warning {
  border: 4.75px solid red !important;
}

.b-4-caution {
  border: 4.75px solid yellow !important;
}

.b-4-white {
  border: 4.75px solid white !important;
}

.b-4-black {
  border: 4.75px solid black !important;
}

.b-4-gray {
  border: 4.75px solid gray !important;
}

.fs-0 {
  font-size: 0px !important;
}

.fs-1 {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 1.5rem !important;
}

.fs-3 {
  font-size: 2rem !important;
}

.fs-4 {
  font-size: 2.5rem !important;
}

.ls-0 {
  letter-spacing: 0px !important;
}

.ls-1 {
  letter-spacing: 1.15px !important;
}

.ls-2 {
  letter-spacing: 1.275px !important;
}

.ls-3 {
  letter-spacing: 1.4px !important;
}

.ls-4 {
  letter-spacing: 1.525px !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.lato {
  font-family: "Lato", sans-serif !important;
}

.robot {
  font-family: "Roboto", sans-serif !important;
}

.raleway {
  font-family: "Raleway", sans-serif !important;
}