/* .media {
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  display: block;
} */

.ql-align-center {
  text-align: center;
}

.ql-snow .ql-editor img {
  width: 400px;
}

.quill-image {
  width: 200px;
}

@media (max-width: 850px) {
  .media {
    max-width: 75%;
  }
}

@media (max-width: 500px) {
  .media {
    max-width: 100%;
  }
}
