/* Primary Classes */
.collapse-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--color-primary-main);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
}

.collapse-button:hover {
  background-color: var(--color-primary-dark);
}

/* Secondary Classes */
.collapse-button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--color-secondary-main);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.collapse-button-secondary:hover {
  background-color: var(--color-secondary-dark);
}

/* General Classes */
.collapse-button:active {
  box-shadow: none;
  transform: translateY(1px);
}
