/* .media {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
} */

.ql-align-center {
  text-align: center;
}

@media (max-width: 850px) {
  .media {
    max-width: 75%;
  }
}

@media (max-width: 500px) {
  .media {
    max-width: 100%;
  }
}
