@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

.nav-menu-btn {
  color: #fff;
  align-items: center;
}

.navbar-general-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-nav {
  padding-right: 5px;
}

.navbar-general-links .navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.1s ease-in-out;
}

.navbar-general-links .navbar-link:hover {
  color: #fdd835;
}

.navbar-auth-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-auth-links .navbar-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.navbar-auth-links .navbar-link:hover {
  color: #fdd835;
}

.navbar-drawer {
  width: 250px;
  background-color: #1c1c1c;
  font-family: "Poppins", sans-serif;
}

.MuiDrawer-paperAnchorRight {
  color: #fff;
  background-color: #1c1c1c !important;
  font-family: "Poppins", sans-serif !important;
}

.navbar-drawer .navbar-link {
  text-decoration: none;
}

.navbar-drawer .navbar-link:hover {
  color: #fdd835;
}

.navbar-drawer .MuiListItemText-primary {
  color: #fff;
}

.navbar-drawer .MuiListItemText-primary:hover {
  color: #fdd835;
}

.navbar-drawer .MuiListItem-root {
  margin: 20px 0;
}

.navbar-drawer .MuiDivider-root {
  margin: 20px 0;
}

.title-name {
  font-size: 1.25rem;
  padding-left: 10px;
  font-weight: 700 !important;
  padding-top: 3px;
}

.title-name-drawer {
  font-size: 1.25rem;
  font-weight: 700 !important;
  padding-top: 10px;
}

.MuiListItemText-primary {
  transition: color 0.3s ease-in-out !important;
  font-family: "Poppins", sans-serif !important;
}

.divider-color {
  background-color: #fff !important;
  color: #2fe302b7;
}
