.testerer {
  text-align: center;
  color: white;
  padding-top: 20px;
}

.flexer {
  justify-content: center;
  align-items: center;
}

.border-guy {
  border: 1px solid white;
}

.black-boi {
  background-color: black;
  color: white;
}

.yar-container {
  min-height: 100vh;
  width: 100vw;
  background-color: #242424;
  /* padding: 32px 0px 32px 0px; */
}
